body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFBE4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p{
  color: black
}

button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  padding: 10px;
}


h1{
  color: #894F19;
}

h2{
  color: #894F19;
  font-size: 1.5vw;
}

nav{

  text-align: center;
  background-color: #8FACA2;
  
}

.navImage{
  height:200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer{
  background-color: #FFFBE4;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.navLink{
  display: inline-block;
  margin: auto;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 25px;
  
}
.navLink a {
  color: #894F19;

}
.Container{

background-color: #8FACA2;
padding: 10px;
padding-bottom: 50px;
border-radius: 5px;
margin: auto;
margin-top: 30px;
width: 80%;
text-align: center;
}

.contactButton{
  text-decoration:none;
  font-weight: bold;
  color: #894F19;
  background-color: #FFFBE4;
  border-radius: 5px;
  text-align: center;
  padding: 2% 0;
  width: 95%;
  margin: auto;
  margin-top: 20px;
  margin-block-end: 20px;
  display: block;
  font-size: 20px;
}

.contactButton:hover{
  background-color: #8FACA2;
  color: #FFFBE4;
}

.projectCard{
  background-color: #FFFBE4;
  border-radius: 5px;
  
  margin: auto;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  width: 25%;
  padding-bottom: 1px;
  border-style: solid;
  border-color: #894F19;
}

.projectThumbnail{
  height: 15vw;
  border-style: solid;
  border-color: #894F19;
}

/* Media Queries */
@media screen and (max-width: 900px)
{
.projectCard{
    width: 45%;
    min-height: 200px;
   }

h2{
    font-size: 2.5vw;
  }

}
@media screen and (max-width: 500px)
{
.projectCard{
    width: 87%;
    min-height: auto;
    margin-left: auto;
    margin-right: auto;
    margin: 4px;
}
h2{
  font-size: 25px;
}
.projectThumbnail{
height: 200px;
}
}